body{
  background-color: azure;
}
.theory{
  background-color:azure;
  display:flex;
  gap:20px;
}
.a{
  background-color: bisque;
  font-size: 40px;
  padding: 5px;
  margin: 3px;
  border-width:5px;
  border-color: darkmagenta;
  border-radius: 10%;
  
}

.a a:link{
  color:chocolate;
  font-style: normal;
  text-decoration: none;
}

.a a:visited{
  color:coral
}
.a a:hover{
  color:rgb(97, 153, 97)
}

.a a:active
{
  color:dimgrey
}
h1{
  font-size: 70px;
  color: brown;
  text-align: center;
}

.labs{
  background-color:azure;
  display:flex;
  gap:20px;
  justify-content: center;
}

h2{
  color: darkgoldenrod;
  font-size: 40px;
}

.websites{
  background-color:azure;
  display:flex;
  gap:20px;
  justify-content: center;
}